.Form {
    margin: 20px auto;
    max-width: 60vw;
    height: 450px;
    margin: 20px auto;
    box-sizing: border-box;
    position: relative;
}

/* .LoginRegPanel {
    position: relative;
    top: 280px;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(30,30,30, 0.9);
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://images.unsplash.com/photo-1553531580-05e93057630b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2549&q=80");
}

.WhitePanel{
    background-color: rgba(255,255, 255, 1);
    height: 500px;
    position:absolute;
    top: -50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
}

.ShowLogPanel{
    display:block;
    opacity:0.9;
}

.RightLog {
    right:50px !important;
}

.LoginRegPanel a {
    text-decoration: none;
}

.LoginRegPanel input[type="radio"]{
    position:relative;
    display:none;
}
.LoginRegPanel {
    color:#B8B8B8;
}
.LoginRegPanel .LabelLogin, 
.LoginRegPanel .LabelRegister {
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:3px;
    cursor:pointer;
} */