.User {
    width: 50%;
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: white;
    height : 100px;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px #ccc;
}

.User p {
    margin : 5px;
}