.MainDetail {
    width: 80vw;
    margin: 0 auto;
}

.MainDetail > h2 {
    box-sizing: border-box;
    padding : 30px;
    height : 100px;
    width: 100%;
    text-align: center;
    margin : 0 auto;
}

.MainDetail p {
    margin: 0;
}

.Content {
    background-color: rgb(40, 116, 202);
    display: flex;
    flex-direction: row;
}

.Content h3 {
    text-align: center;
}

.UserContent {
    flex : 3;
}

.UserContent h3 {
    color : white;
}

.PostContent {
    flex : 2;
    background-color: white;
    box-shadow: 3px 2px 6px #ccc;
}

.PostContent h3 {
    color : #3686BD;
}