.BoxHorizone {
    width: 100%;
    background-color: darkcyan;
    height: 200px;
    position: absolute;
    top: 20%;
    z-index: 2;
}

.MiniBox {
    top : 25%;
    left: 10%;
    box-sizing: border-box;
    flex-wrap: wrap; 
    position : absolute;
    min-height : 100px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 1.3s
}

.Trans {
    left: 65%;
    top : 25%;
    box-sizing: border-box;
    flex-wrap: wrap; 
    position : absolute;
    min-height : 100px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 1.3s
}

.MiniBox *, .Trans * {
    margin: 0;
    padding: 0;
    flex : 1;
    color : white;
}

.Button {
    margin: 0;
    width : 130px;
    height : 100%;
    background-color: transparent;
    border: 1px solid white;
    color : white;
    cursor: pointer;
    border-radius: 5px;
}